body{
    background-color: #fae6d2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
img{
    border: 1px solid gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #fff;
}
progress{
    width: 100%;
}
button{
    float:left;
    width: 50%;
    height: 2em;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor:pointer;
    padding:0.1rem;
    color:aliceblue;
}

button.real{
    background-color: #50b36e;
}

button.fake{
    background-color: #ff6347;
}

button.start{
    background-color: #50b36e;
    height: 2em;
    font-size: 2rem;
    width: 100%;
}

button.retry{
    background-color: #ff9933;
    height: 2em;
    font-size: 2rem;
    width: 100%;
}

button.facit{
    margin-top: 0.5rem;
    background-color: #c054ff;
    height: 2em;
    font-size: 2rem;
    width: 100%;
}

legend{
    font-weight: bold;
    font-size: 2rem;
}